@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
body {
    background-color: #f7f7f7;
}

.column-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.game-board {
    display: flex;
    background-color: blue;
    padding: 10px 10px 10px 10px;
    border: 5px solid navy;
    border-radius: 5px;
}

.open-slot {
    background-color: white;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 5px solid black;
    margin: 5px 5px 5px 5px;
}

.hidden {
    visibility: hidden;
}

.yellow {
    background-color: yellow;
    color: black;
}

.red {
    background-color: red;
    color: white;
}

.selector {
    margin: 0px 5px 5px 5px;
    width: 150px;
    text-align: center;
    font-size: 12pt;
    border-radius: 2px;
    border: 2px solid navy;
}

.profile-pic {
    width: 150pt;
    height: 200pt;
}

.your-turn {
    border-radius: 5px;
    border: 2px solid navy;
    font-size: 18pt;
    padding: 5pt 5pt 5pt 5pt;
}

.congrats {
    font-family: 'Peralta', cursive;
    font-size: 48pt;
    color: navy;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    border: 5px solid navy;
    margin: 5px 5px 5px 5px;
}

.change-name-btn {
    border-radius: 2px;
    border: 2px solid navy;
    margin: 2px 2px 2px 2px;
    text-align: center;
    float: right;
}

#new-game-btn {
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    border: 5px solid navy;
    margin: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: bottom;
    font-size: 18pt;
}

#red-player-name {
    text-align: center;
}

#yel-player-name {
    text-align: center;
}

#yel-name-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
