@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

:root {
    /* COLOR PALETTE */
    --red: #cb0d11;
    --blue: #191fbb;
    --navy: #110d6b;
    --black: #150b17;
}

body {
    color: var(--black);
    background-color: var(--black);
    background: url('https://images8.alphacoders.com/929/929202.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Marvel', sans-serif;
}

.hidden {
    visibility: hidden;
}

.red-background {
    background-color: rgba(203, 13, 17, 0.25);
    color: white;
}

.redder-background {
    background-color: rgba(203, 13, 17, 0.75);
    color: white;
}

.black-background {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* CONTAINERS */

.column-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    font-family: 'Bangers', cursive;
    /* font-size: 48px; */
    font-size: 100px;
    margin: 10px;
}

h2 {
    font-family: 'Bangers', cursive;
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--red);
    padding: 10px;
    border-radius: 20px;
    margin: 0px;
}

select {
    cursor: pointer;
    background-color: var(--blue);
    color: white;
    padding: 5px;
    font-family: 'Marvel', sans-serif;
    margin-bottom: 10px;
    width: 150px;
    text-align: center;
    font-size: 14pt;
    border-radius: 10px;
    border: 2px solid var(--navy);
}

option {
    background-color: var(--blue);
}

input {
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
}

#new-game-btn {
    cursor: pointer;
    background-color: var(--blue);
    color: white;
    border: 5px solid var(--navy);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 22pt;
    font-family: 'Marvel', sans-serif;
}


/* GAME BOARD */

.game-board {
    display: flex;
    background-color: var(--blue);
    padding: 10px;
    border: 5px solid var(--navy);
    border-radius: 20px;
}

.open-slot {
    cursor: pointer;
    background-color: #535a87;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 5px solid var(--navy);
    margin: 5px;
}

.peter-slot {
    background-color: var(--red);
    /* background-image: url('https://i.imgur.com/jgwOlJ4.png'); */
    display: inline-block;
    background-position: 50% 50%;
    background-size: cover;
}

.miles-slot {
    background-color: var(--black);
    /* background-image: url('https://i.imgur.com/PWelUdT.png'); */
    display: inline-block;
    background-position: 50% 50%;
    background-size: cover;
}


/* PLAYERS */

.player {
    border-radius: 20px;
    padding: 10px;
}

.player-pic {
    height: 300pt;
}

#peter-name {
    text-align: center;
}

#miles-name {
    text-align: center;
}

#miles-name-change {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-name-btn {
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid var(--black);
    margin: 5px;
    padding: 5px;
    font-family: 'Marvel', sans-serif;
    font-weight: bold;
}

.youre-up {
    font-size: 18pt;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Bangers', cursive;
    color: var(--red);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
}

.congrats {
    font-family: 'Peralta', cursive;
    font-size: 28pt;
    color: var(--navy);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    border: 5px solid var(--navy);
    margin: 5px 5px 5px 5px;
    text-shadow: 
        2px 2px 2px white,
        -2px -2px 2px var(--red);
}
